@page "/about"

<div class="container mt-5">

    <div class="card p-4">

        <h2>About Me</h2>

        <p>Age: 21</p>
        
        <p>Address: Maya, Daanbantayan, Cebu</p>

<p>Hobbies: Reading, Music, Watching Movies</p>

<p>Favorite Food: Fries, Burger, Chicken Adobo, Fruits</p>

<p>Favorite Colors: Yellow and Sky Blue</p>

<p>Favorite Artists: Taylor Swift, SB19, Twice, Astro, Westlife, Backstreet Boys</p>

<p>Interests: Fashion Design, Dancing, Traveling</p>

    </div>

</div>