@page "/contact"

<div class="container mt-5 text-center">

    <div class="card p-4">

        <h2>Contact Me</h2>

        <p>Email: doonaberaces@gmail.com</p>
        <p>Facebook: Donnabel Beraces</p>
        <p>Instagram: donnabelyyy</p>
        <p>Phone: 09754263424</p>

    </div>

</div>