@page "/"

<div class="portfolio-container">
        
        
            <img src="https://i.imghippo.com/files/lUqN9115Ys.jpg"
                 class="profile-square"/>


            <h1>Donnabel Beraces</h1>
            <p>BSIT Student</p>

    <div class="section-box">
        <h2>About Me</h2>
        <p class="justify-text">
            <li>Someone who believes that every challenge is a chance to learn and grow.</li>
            <li>I enjoy discovering new things and improving myself every day.</li>
            <li>Learning from mistakes and celebrating small successes motivates me to keep moving forward.</li>
        </p>
    </div>


    <div class="section-box">
        <h2>Personal Information</h2>
        <ul>
            <p>Age: 21</p>
            <p>Birthdate: September 14, 2004</p>
            <p>Birthplace: Fermina Maya, Daanbantayan, Cebu</p>
            <p>Address: Maya, Daanbantayan, Cebu</p>
            <p>Hobbies: Reading, Music, Watching Movies</p>
            <p>Favorite Food: Fries, Burger, Chicken Adobo, Fruits</p>
            <p>Favorite Colors: Yellow and Sky Blue</p>
            <p>Favorite Artists: Taylor Swift, SB19, Astro, Westlife, Backstreet Boys, Steps</p>
            <p>Interests: Fashion Design, Dancing, Traveling</p>
        </ul>
    </div>

    <div class="section-box">
        <h2>Skills</h2>
        <ul>
            <li>Determined and hardworking</li>
            <li>Curious and eager to learn</li>
            <li>Adaptable to challenges</li>
            <li>Detail-oriented</li>
            <li>Patient in solving problems</li>
        </ul>
    </div>

   
    <div class="section-box">
        <h2>Contacts</h2>
        <p>Email: doonaberaces@gmail.com</p>
        <p>Facebook: Donnabel Beraces</p>
        <p>Instagram: donnabelyyy</p>
        <p>Phone: 09754263424</p>
    </div>

</div>